{% extends "search_base.html" %}
{% block title %} - Ships{% endblock %}
{% block ships_active %} active" aria-current="page{% endblock %}

{% block search_placeholder %}Yang/Blake...{% endblock %}

{% block result_block %}
<div class="list-group">

	<!-- Results Examples -->
	<a href="#" class="list-group-item list-group-item-action">
		<div class="d-flex flex-fill justify-content-between">
			<h5 class="mb-1">Bumbleby</h5>
			<small>47 Likes</small>
		</div>
		<small class="text-muted">Blake Belladonna/Yang Xiao Long</small>
	</a>
	<a href="#" class="list-group-item list-group-item-action">
		<div class="d-flex flex-fill justify-content-between">
			<h5 class="mb-1">Bees Schnees</h5>
			<small>32 Likes</small>
		</div>
		<small class="text-muted">Blake Belladonna/Weiss Schnee/Yang Xiao Long</small>
	</a>
	<a href="#" class="list-group-item list-group-item-action">
		<div class="d-flex flex-fill justify-content-between">
			<h5 class="mb-1">Sunnybees</h5>
			<small>9 Likes</small>
		</div>
		<small class="text-muted">Blake Belladonna/Sun Wukong/Yang Xiao Long</small>
	</a>
	<!-- End Results Examples -->

	<!-- Results Loop -->
	{% for i in range(17) %}
	<a href="https://google.com" class="list-group-item list-group-item-action" style="z-index:0;">
		<div class="d-flex justify-content-between">
			<div class="flex-fill">
				<h5 class="mb-1">Highest Voted Ship Name</h5>
				<small class="text-muted">Character 1/Character 2/Character 3/... (Character 1 & Character 2, ...)</small>
			</div>
			<div class="align-self-stretch d-flex align-items-center">
				<img src="{{url_for('static', filename='heart.svg')}}" onclick="window.location.href = 'https://shipcrack.com/login';" style="z-index:1;" width="48" height="48"/>
			</div>
		</div>
	</a>
	{% endfor %}
	<!-- End Results Loop -->

</div>
{% endblock %}