{% extends "search_base.html" %}
{% block title %} - Ships{% endblock %}
{% block ships_active %} active" aria-current="page{% endblock %}

{% block search_placeholder %}Yang/Blake...{% endblock %}

{% block style_block %}
<style>
	.teamSelector {
		cursor: pointer;
	}

	.SC__heart {
		background-image: url("{{url_for('static', filename='heart.svg')}}");
		background-repeat: no-repeat;
		background-position: center;
		width: 48px;
		height: 48px;
		filter: invert(96%) sepia(22%) saturate(1%) hue-rotate(168deg) brightness(103%) contrast(60%);
	}

	.SC__heart:hover {
		filter: invert(78%) sepia(14%) saturate(643%) hue-rotate(301deg) brightness(100%) contrast(103%);
	}

	.SC__heart:active {
		filter: invert(19%) sepia(80%) saturate(7135%) hue-rotate(357deg) brightness(100%) contrast(120%);
	}
</style>
{% endblock %}

{% block result_block %}
<div class="list-group">

	<!-- Results Examples -->
	<a href="#" class="list-group-item list-group-item-action">
		<div class="d-flex flex-fill justify-content-between">
			<h5 class="mb-1">Bumbleby</h5>
			<small>47 Likes</small>
		</div>
		<small class="text-muted">Blake Belladonna/Yang Xiao Long</small>
	</a>
	<a href="#" class="list-group-item list-group-item-action">
		<div class="d-flex flex-fill justify-content-between">
			<h5 class="mb-1">Bees Schnees</h5>
			<small>32 Likes</small>
		</div>
		<small class="text-muted">Blake Belladonna/Weiss Schnee/Yang Xiao Long</small>
	</a>
	<a href="#" class="list-group-item list-group-item-action">
		<div class="d-flex flex-fill justify-content-between">
			<h5 class="mb-1">Sunnybees</h5>
			<small>9 Likes</small>
		</div>
		<small class="text-muted">Blake Belladonna/Sun Wukong/Yang Xiao Long</small>
	</a>
	<!-- End Results Examples -->

	<!-- Results Loop -->
	{% for i in range(17) %}
	<div onclick="window.location.href = 'https://google.com';" class="list-group-item list-group-item-action teamSelector">
		<div class="d-flex justify-content-between">
			<div class="flex-fill">
				<h5 class="mb-1">Highest Voted Ship Name</h5>
				<small class="text-muted">Character 1/Character 2/Character 3/... (Character 1 & Character 2, ...)</small>
			</div>
			<div class="align-self-stretch d-flex align-items-center">
				<div class="SC__heart" onclick="event.stopPropagation();window.location.href='https://shipcrack.com/login';">
					<p class="text-center align-middle">420</p>
				</div>
				<!--<img class="SC__heart" src="{{url_for('static', filename='heart.svg')}}" onclick="event.stopPropagation();window.location.href = 'https://shipcrack.com/login';" width="48" height="48"/>-->
			</div>
		</div>
	</div>
	{% endfor %}
	<!-- End Results Loop -->

</div>
{% endblock %}